.navbar {
  min-height: 50px;
  background-color: white;
  padding-left: 10.6% !important;
  padding-top: 1.5% !important;
  font-family: Heebo;
}

.navbar-light .navbar-brand {
  font-size: 3.47vh;
  color: #F6C270 !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 2.47vh;
  color: #F6C270 !important;
}

.card-deck .card{
  margin-right: 2vw !important;
  margin-left: 2vw !important;
}

.page-content{
  padding-top: 3%;
}

.flex-column {
  padding-top: 20%;
}

/* ------------------------- ALUMNI PAGE ------------------------- */

.alumni-page{
  margin-top: 15%;
  padding-bottom: 5%;
}

.alum-form-header h1{
  font-family: Heebo;
  font-size: 5vw;;
  padding-bottom: 1%
}

.alum-form-header h5{
  font-family: Heebo;
  font-size: 1.5vw;
  font-weight: 300;
}

.alumni-form-button-div {
  display: flex;
}

.btn.alumni-form-button {
  font-family: Heebo;
  font-size: 1vw;
  margin: 4% 0% 5% 0%;
  background-color: rgb(87, 133, 61);
  border-color: rgb(87, 133, 61);
  width: 10%;
  height: 7%;
}

.btn.alumni-form-button:hover {
  background-color: rgb(112, 172, 77);
  border-color: rgb(112, 172, 77);
}

.alum-form-header hr{
  border-top: 2px solid black;
}

.alum-form-header{
  width: 78.8%;
  margin: auto;
  padding-bottom: 10%;
}

.alum-form{
  font-family: Heebo;
  font-size: 20px;
  width: 78%;
  margin: auto;
}

.alum-form h3{
  font-family: Heebo;
}

.btn.alumni-form-submit{
  font-family: Heebo;
  font-size: 20px;
  background-color: rgb(87, 133, 61);
  border: rgb(87, 133, 61);
}

.btn.alumni-form-submit:hover{
  background-color: rgb(112, 172, 77);
  border-color: rgb(112, 172, 77);
}

/* ---------------------------------------------------------------- */


/* ------------------------- LANDING PAGE -------------------------*/

.landing-page {
  background: white;
  font-family: "Heebo";
  padding: 0%;
}

.row.landing-page-main-page {
  /* height: 80vh; */
  padding: 0% 12% 9% 10.6%;
  overflow: hidden;
}

.landing-page-pic-border.col-sm-7 {
  margin-top: 13%;
}

.landing-page-pic {
  width: 43.5vw;

}

.landing-page-text.col-sm-5 {
  margin-top: 22%;
}

.landing-page-text h3{
  font-family: Heebo;
  font-size: 1.6vw;
  font-weight: 300;
}

.landing-page-text h1{
  font-family: Heebo;
  font-size: 4.46vw;
  display: inline;
}

.landing-page-text h2{
  font-family: Heebo;
  font-size: 4.46vw;
  font-weight: 300;
  display: inline;
}

.landing-page-text h5{
  font-family: Heebo;
  margin-bottom:10%;
  font-size: 1.39vw;
  font-weight: 100;
}

.btn.landing-page-button{
  font-family: Heebo;
  font-size: 1.6vw;
  background-color: #339A9F;
  border-radius: 31px;
  padding: 2% 5% 2% 5%;
  border: none;
}

.btn.landing-page-button:hover{
  background-color: rgb(62, 184, 190);
}

.row.landing-page-cards{
  width: 100%;
  margin: 0% 0% 0% 0%;
  padding: 5% 9.6% 5% 9.6%;
  background-color: #F6C270;
  opacity: .84;

  margin-left:auto;
  margin-right:auto;
  display:block;
}

.landing-page-card {
  text-align: center;
}

.card-img-top {
  width: 60% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.row.landing-page-form {
  width: 100%;
  height: 64vh;
  margin: 7% 0% 11% 0%;
  padding: 5% 10.6% 5% 10.6%;
  background-color: #EFA885;
}

.landing-page-form {
  margin-bottom: 7%;
}

.landing-page-form-description {
  padding-top: 10%;
}

.landing-page-form-description h3{
  font-family: Heebo;
  font-weight: 100;
  font-size: 1.96vw;
  color: white;
}

.register-back{
  width: 25vw;

}

.register{
  background-color: white;
  border: 0.2px solid rgb(196, 196, 196) !important;
  padding: 7% 5% 5% 5%;
  font-size: 1.9vh;
}

.form-control {
  font-size: 1.2rem !important;
}

.register h2{
  font-family: Heebo;
  font-size: 3.47vh;
  padding-bottom: 5%;
  color: #EFA885;
}

.btn.register-button{
  background-color: #EFA885;
  border-color: #EFA885;
  font-size: 1.97vh;
  margin-top: 5%;
}

/* -------------------------------------------------------------- */

/* ------------------------- SCHOOLS PAGE -------------------------*/

.schools-page{
  padding-bottom: 5%;
}

.schools-request {
  width: 10%;
  height: 5%;
  border: 5% solid rgb(224, 224, 224);
  border-radius: 5px !important;
  right: 2%;
  bottom: 2%;
  background-color:#EFA885;
  display: flex;
  position: fixed;
}

.btn.schools-request-button {
  font-family: Heebo;
  font-size: .8vw;
  background-color: #EFA885 !important;
  border: none;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 0;
  margin-right: 0%;
}

.schools-request-icon-back {
  border-radius: 10%;
  margin: 4% 7% 4% 4%;
  background-color: white;
  padding: 1% 4% 0% 3%;
  align-items: center;
}

.schools-request-info-icon {
  color: #EFA885;
  font-size: 130%;
  margin: 8% 0% 5% 6%;
  align-items: center;
}

.schools-title {
  font-family: Heebo;
  padding-top: 10%;
  padding-left: 10.6%;
  height: 75vh;
  color: #EFA885;
}

.schools-title h1{
  font-size: 8.8vh;
}

.schools-title h5{
  font-family: Heebo;
  font-size: 35px;
  font-weight: 100;
  padding-bottom: 3%;
}

.jwfbbd {
  font-family: Heebo;
  font-size: 1.5rem !important;
  color: #969696 !important;
  border-radius: 0.7rem !important;
  font-weight: 300;
  height: 5vh !important;
  width: 55%;
  border: 2px solid #cacaca96 !important;
}

.zNoeh > ul {
  overflow-y: auto;
  max-height: 25vh;
  margin-right: 0% !important;
}

.zNoeh {
  width: 49vw;
}

.schools-list-button {
  font-size: 17px;
  color: #EFA885;
}

.schools-list-button:hover {
  color: #EFA885;
  text-decoration: none;
}

.top-schools-cards-background{
  background-color: #F6F1EE;
}

.top-schools-cards-background h2{
  font-family: Heebo;
  font-size: 3.55vw;
  font-weight: 300;
  color: #EFA885;
  padding: 2% 10.6% 2% 10.6%;
}

.row.top-schools-cards{
  width: 100%;
  margin: 0% 0% 0% 0%;
  padding: 0% 9.6% 5% 9.6%;
  background-color: #F6F1EE;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.top-schools-card{
  text-align: center;
}

.top-schools-card:hover .card-img-top {
  transition: all .5s ease;
}

.top-schools-card:hover .card-img-top{
  transform: scale(1.1);
}

.top-schools-card-text{
  text-align: center;
  color: black;
  margin-left: 3%;
}

.schools-name:hover{
  font-weight: bold;
  color: #EFA885;
  text-decoration: none;
}

.schools-list {
  font-family: Heebo;
  font-size: 35px;
  padding-left: 10.6%;
  padding-top: 5%;
}

.schools-list a{
  font-weight: 100;
  color: black;
  text-decoration: none;
}

.schools-list h3 {
  font-family: Heebo;
  font-size: 60px;
  font-weight: 100;
  color: #EFA885;
  padding-bottom: 3%;
}

/* ---------------------------------------------------------------*/

.school-page {
  padding-top: 7%;
  margin-left: 10.7%;
}

.school-title {
  font-family: Heebo;
  font-size: 80px;
  /* padding-left: 10.6%; */
  color: #5583A6;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-pills .nav-link:hover {
  background-color: #5583A6 !important;
  color: white;
}

.question-tab{
  font-size: 20px;
  color: #5583A6;
}

.school-question-boxes{
  padding: 3% 18% 3% 0%;
}

.contact-grid {
  margin-top: 2% !important;
  margin-right: 5% !important;
  padding-bottom: 5% !important;
}

.contact-cell {
  margin-bottom: 3% !important;
}

.contact-card{
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

.modal-backdrop.show {
  opacity: 0.3 !important;
}

.modal-content {
  border: none !important;
}

.school-contact-text div{
 font-size: 15px !important;
}

.school-contact-icon {
  padding-right: 1%
}

.copied-icon {
  color: rgb(84, 133, 11);
  padding-right: 1%;
  font-size: 130%;
}

.card-header.school-contact-name {
  font-size: 21.5px;
  background-color: #5583A6;
  color: white;
}

.btn.school-contact-button {
  background-color: #5583A6 !important;
  border-color: #5583A6 !important;
}

.school-question{
  font-family: Heebo;
  font-size: 18px;
}

.category-tabs h2{
  font-size: 35px;
  text-align: center;
  color: black;
  /* color: #1f0099; */
  font-family: Heebo, Helvetica, sans-serif
}
.cards{
  display: flex;
  margin-top: 150px;
  overflow: auto;
  position: relative;
  width: 100%;
  align-content: space-between;
}

.card-text{
  color: black !important;
  font-size: 1em !important;
  font-family: Heebo;
}

.register-title{
  align-items: center !important;
  align-content: center !important;
}

.confirm-body-text h1{
  font-family: Heebo;
  text-align: center;
}

.confirm-body-text h4{
  font-family: Heebo;
  text-align: center;
  width: 50%;
  margin: auto;
}

.header-color{
  background: #3f51b5 !important;
  font-family: Heebo !important;
}

.header-color a:link, .header-color a:visited{
  color: white;
  text-decoration: none;
}


/* ------------------------- ABOUT PAGE ------------------------- */

.about-page {
  /* margin: 10.6% 10.6% 5% 10.6%; */
  margin: 10.6% 0% 5% 0%;
}

.about-intro {
  padding-left: 10.6%;
  padding-right: 10.6%;
  padding-bottom: 18%;
}

.about-intro h1{
  font-family: Heebo;
  font-size: 100px;
  padding-bottom: 2%;
}

.about-intro h3{
  font-family: Heebo;
  font-size: 30px;
  font-weight: 100;
}

.about-team-button-div {
  padding-top: 3%;
  /* padding-top: 30vh; */
  /* text-align: center; */
}

.btn.about-team-button {
  font-family: Heebo;
  font-size: 20px;
  background-color: rgb(112, 172, 77);
  border-color: rgb(112, 172, 77);
}

.btn.about-team-button:hover {
  background-color: rgb(112, 172, 77);
  border-color: rgb(112, 172, 77);
}

.about-team {
  padding-top: 7%;
}

.about-team h1 {
  font-size: 80px !important;
  padding-left: 10.6%;
  padding-right: 10.6%;
  padding-bottom: 2%;
}

.about-member-info {
  padding-bottom: 14%;
}

.about-member-info.col-md-4 {
  margin-left: auto;
  margin-right: auto;
}

.about-member-info h4{
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  color: #707070;
  margin-bottom: 0 !important;
}

.about-member-info h3{
  font-family: 'Helvetica Neue';
  font-size: 20px;
  color: black;
  margin-bottom: 0 !important;
}

.row.about-member-pics{
  flex: 1 0;
  width: 100%;
  padding: 0% 6.6% 0% 6.6%;
}

.about-member-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 4%;
}

.about-member-text {
  margin-left: 14.5%;
}

.about-socials {
  padding-top: 2%;
}

.about-social {
  display: inline;
  padding-right: 1.5%;
}

.about-info-gap {
  padding-left: 10.6%;
  padding-right: 10.6%;
  padding-bottom: 5%;
}

.about-info-gap h2 {
  font-family: Heebo;
  font-size: 50px;
}

.about-info-gap h3 {
  font-family: Heebo;
  font-size: 30px;
}

.about-info-gap h4 {
  font-family: Heebo;
  font-size: 25px;
  font-weight: 300;
}

.about-info-gap p {
  font-family: Heebo;
  font-size: 23px;
  font-weight: 100;
}

.about-graphs {
  padding-top: 5%;
}

.about-hs-graph {
  height: 30vh;
  padding-bottom: 5%;
}

.about-college-graph {
  height: 30vh;
  padding-bottom: 5%;
}

.about-graph.col{
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0 !important;
}

.about-insights {
  padding-left: 10.6%;
  padding-right: 10.6%;
}

.about-insights h3 {
  font-family: Heebo;
  font-size: 30px;
}

.about-insights h5 {
  font-family: Heebo;
  font-size: 23px;
  font-weight: 100;
}

.about-quote {
  text-align: center;
  color: #6F7B68;
}

/* -------------------------------------------------------------- */

/* -----------------------CONTACT PAGE--------------------------- */

.contact-page {
  margin: 0% 10.6% 0% 10.6%;
  padding-top: 8.6%;
  justify-content: space-evenly;
}

.contact-page-text {
  padding-bottom: 33%;
}

.contact-page-text h1{
  font-family: Heebo;
  font-size: 100px;
  padding-bottom: 2%;
}

.contact-page-text h3{
  font-family: Heebo;
  font-size: 30px;
  font-weight: 200;
}

.contact-page-form {
  position: right;
  width: 100% !important;
  font-family: Heebo !important;
  font-size: 1.8vh;
  font-weight: 600;
  color: white;
}

.btn.contact-button {
  background-color: #5583A6;
  font-weight: 600;
  color:white;
  border: none;
}

.btn.contact-button:hover {
  background-color: white;
  font-weight: 600;
  color:#5583A6;
  border: none;
}

.contact-email {
  color: #5583A6;
  font-weight: 300;
}

.contact-back{
  background-color: rgb(116, 162, 197);
  padding: 5%;
  border-radius: 2%;
}


/* -------------------------------------------------------------- */


.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border-radius: 10px;
  margin: auto;
  font-family: Heebo;
  margin-bottom: 1em;
}

.form-wrapper h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: 8px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  font-size: 16px;
  text-decoration: none
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}

.firstName {
  margin-right: 1%;
  margin: auto;
  display: flex;
}

.lastName {
  margin-left: 1%;
  margin: auto;
  display: flex;
}


.firstName,
.lastName,
.email,
.highschool {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

}

.firstName,
.lastName {
  width: 49%;
}

.email,
.highschool {
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}

.label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

.input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
