.navbar {
  min-height: 50px;
  background-color: white;
  /* background-color: #27ae60; */
}

.page-content{
  padding-top: 3%;
}

.question-tabs{
  margin-left: 20%;
  font-size: 15px;
}

.flex-column {
  padding-top: 20%;
}

.alum-form-header h1{
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.alum-form-header p{
  font-family: 'Nunito', sans-serif;
}

.alum-form h3{
  font-family: 'Nunito', sans-serif;
}


.alum-form{
  width: 50%;
  margin: auto;
}

.alum-form-header{
  width: 55%;
  margin: auto;
}

.tab-text{
  color: black !important;
  font-size: 25px !important;
  font-family: Heebo;
  /* font-family: 'Nunito', sans-serif; */
}

.main-school-page-title {
  font-family: Heebo;
  font-size: 35px;
  text-align: center;
  color: black;
}

.school-name:hover{
    border:2px solid #2ecc71;
    background-color: #2ecc71;
    border-radius: 5px;
    /* box-shadow: 1px 1pxgrey; */
}

.main-school-list{
  font-family: Heebo;
  font-size: 15px;
  padding-left: 10%;
  padding-top: 5%;
  color: black;
}

.main-school-list a:link, .main-school-list a:visited{
  color: black;
  text-decoration: none;
}

.UCSB{
  align-content: center;
  margin: auto;
}

.school-question-boxes{
  padding: 3% 5% 3% 5%;
}

.school-question{
  font-family: Heebo;
  font-size: 18px;
}


.category-tabs h2{
  font-size: 35px;
  text-align: center;
  color: black;
  /* color: #1f0099; */
  font-family: Heebo, Helvetica, sans-serif
}
.cards{
  display: flex;
  margin-top: 250px;
  overflow: auto;
  position: relative;
  width: 100%;
  align-content: space-between;
}

.card-text{
  color: black !important;
  font-size: 1em !important;
  font-family: 'Nunito', sans-serif;
}
.register{
  margin: auto;
  display: 'flex';
  padding: 2px 3px 3px;
  align-items: center;
  display: flex;
}

.register-title{
  align-items: center !important;
  align-content: center !important;
}
.about-body-text{
  left: 0;
  width: 75%;
  height: 100%;
  text-align: left;
  font-family: 'Heebo';
  color: black;
  margin: auto;
}

.about-body-text h1{
  font-family: 'Heebo';
  text-align: center;
}

.about-body-text h2{
  font-family: 'Heebo';
  text-align: left;
}

.about-body-text h4{
  font-family: 'Heebo';
  text-align: left;
}

.confirm-body-text h1{
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.confirm-body-text h4{
  font-family: 'Nunito', sans-serif;
  text-align: center;
  width: 50%;
  margin: auto;
}

.header-color{
  background: #3f51b5 !important;
  font-family: 'Nunito', sans-serif !important;
}

.header-color a:link, .header-color a:visited{
  color: white;
  text-decoration: none;
}

.landing-grid {
  background: white;
  position: fixed;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  overflow-y:scroll
}

.stock-image {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner-text{
  margin-top: 150px;
  font-family: 'Nunito', sans-serif;
  justify-content: space-between;
}

.banner-text h2{
  font-weight: bold;
  color: black;
  font-family: 'Nunito', sans-serif;
}

.banner-text hr{
  border-top: 2px solid black;
  width: 75%;
  margin: auto;
}

.banner-text h5{
  width: 75%;
  padding: 1em;
  font-family: 'Nunito', sans-serif;
  color: black;
  line-height: 1.6;
  text-align: left;
  margin: auto;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border-radius: 10px;
  margin: auto;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 1em;
}

.form-wrapper h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: 8px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  font-size: 16px;
  text-decoration: none
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}

.firstName {
  margin-right: 1%;
  margin: auto;
  display: flex;
}

.lastName {
  margin-left: 1%;
  margin: auto;
  display: flex;
}


.firstName,
.lastName,
.email,
.highschool {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

}

.firstName,
.lastName {
  width: 49%;
}

.email,
.highschool {
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}

.label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

.input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}
